body{
  font-family: '微软雅黑';
}

a:hover{
  text-decoration: none;
}
.navbar{
  background: #333;
  color: #fff
}
.navbar a,.navbar a:hover,.navbar a:active{
  color: #fff
}
.main-container{
  margin-top: 40px;
  text-align: center;
  background: #fff;
  padding: 20px;
  min-height: 800px;
}
.logo-brand{
  display: inline-block;
  font-size: 24px;
}
.head-logo{
  display: inline-block;
}
.input-group{
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.breadcrumb{
  text-align: left;
}
.main-list{
  margin: 0 auto;
  //display: inline-block;
  margin-top: 20px;
  text-align: left;
}
.list-item{
  display: inline-block;
  margin-right: 16px;
  width: 240px;
  //height: 140px;
}
.list-item .number{
  margin-bottom: 10px;
}
.glyphicon{
  margin-right: 10px;
}