@import "modules/_custom_bootstrap_variables";
@import "modules/variables";
@import "modules/device";
@mixin loading-icon-style{
    width: rem(36);
    height: rem(36);
    border: rem(4) solid transparent;
    border-top-color: $brand-warning;
    border-radius: 100%;
    animation: loading-icon-animation 1.2s linear infinite;
    display: block;
    margin: 0 auto;
}

.loading-icon{
    @include loading-icon-style;
    //@include mixin-warroom_icon_loading;
    @keyframes loading-icon-animation{
        from {
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
}
