$font-base-size: 14 !default;
// $origin-width: 750 !default;
// $origin-height: 1334 !default;
$origin-width: 1200 !default;
$origin-height: 810 !default;
$sm-screen-width: 768px;
$primary-color-blue: #1768e7;
$primary-color-orange: #ff3300;
$primary-color-red: #ff3300;
$primary-color-black: #171717;
$primary-color-grey: #777;
$dark-color-grey: #666;
$middle-color-grey: #999;
$light-color-grey: #e2e0e1;
$primary-color-future: #00ffff;
$primary-color-white: #f7f7f7;
$primary-color-yellow: #f7f7f7;
$primary-color-blue-rgb: '76, 81, 247';
$primary-color-red-rgb: '100, 20, 40';
$box-shadow-orange: 1px 1px 8px rgba(225, 51, 0, 0.3);
$box-shadow-black: 0 1px 8px rgba(0, 0, 0, 0.1);
$card-width: 145px;
$card-height: 160px;

$linear-horizon-orange: linear-gradient(to right,$primary-color-orange, #fe9d4e);
$linear-vertical-orange: linear-gradient(to top, #ff3300, #ff5500);
$linear-vertical-black: linear-gradient(to top, transparent, rgba(0,0,0,.3))